body {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logIn__credentials {
  background-color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.Organization {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: space-between;
  height: 600px;
  width: 600px;
  margin: 60px;
}

.Organization__title {
  font-size: 40px;
  font-weight: 900;
}

.Oragnization__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
